@import url(../Fonts.css);

.Services {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #10121B;
    padding: 20px;
}

.ServicePresentation {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServicePresentation h1 {
    font-family: RobotoCondensed-Light;
    color: white;
    line-height: 180%;
    width: 55%;
    font-size: 24px;
}

.AllServices {
    padding: 100px 30px;
    display: flex;
    flex-wrap: wrap;
}

section.ServiceBloc {
    display: flex;
    flex-direction: column;
    width: calc(50% - 80px);
    padding: 20px;
    margin: 30px 20px;
    background-color: #242432;
    border-radius: 6px;
}

.ServiceTypeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ServiceBloc h2 {
    text-align: center;
    color: white;
    font-family: RobotoCondensed-Regular;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 30px;
}

.ServiceType {
    width: calc(100% - 60px);
    padding: 30px 40px;
    margin: 20px 10px;
    background-color: azure;
    border-radius: 5px;
}

.ServiceType h3 {
    padding-bottom: 20px;
    text-align: center;
    font-family: RobotoCondensed-Bold;
    font-size: 23px;
}

.ServiceType p {
    font-family: RobotoCondensed-Regular;
    text-align: justify;
    font-size: 19px;
    line-height: 140%;
}

@media (max-width: 1100px) {
    .Services section.ServiceBloc {
        width: calc(100% - 80px);
    }
}

@media (max-width: 1000px) {
    .Services .ServicePresentation h1 {
        width: 75%;
    }
}

@media (max-width: 800px) {
    .Services .ServicePresentation h1 {
        font-size: 22px;
    }
}

@media (max-width: 745px) {
    .Services .ServicePresentation h1 {
        font-size: 22px;
    }

    .Services .ServiceBloc h2 {
        font-size: 26px;
    }
    .Services .AllServices {
        padding: 90px 0px;
    }
    .ServiceType h3 {
        font-size: 22px;
    }
}

@media (max-width: 610px) {
    .ServiceType {
        width: 100%;
        padding: 30px 20px;
        margin: 20px 10px;
        background-color: azure;
        border-radius: 5px;
    }
    .Services section.ServiceBloc {
        width: 100%;
        padding: 10px;
        margin: 25px 0px;
    }
    .Services .ServicePresentation h1 {
        font-size: 20px;
    }
    .Services {
        padding: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
    }
}

@media (max-width: 500px) {
    .Services .ServicePresentation h1 {
        font-size: 19px;
        width: 85%;
        line-height: 170%;
    }
    .Services .AllServices {
        padding: 75px 0px;
    }
    .Services section.ServiceBloc {
        width: 100%;
        padding: 10px 0px;
        margin: 25px 0px;
        background-color: initial;
    }
    .Services {
        padding: 12px;
        width: calc(100% - 24px);
        height: calc(100% - 24px)
    }
}

@media (max-width: 425px) {
    .Services {
        padding: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
}

@media (max-width: 400px) {
    .Services .ServicePresentation h1 {
        font-size: 17px;
        width: 90%;
        line-height: 170%;
    }
    .Services .AllServices {
        padding: 55px 0px;
    }
    .Services section.ServiceBloc {
        width: 100%;
        padding: 10px 0px;
        margin: 25px 0px;
        background-color: initial;
    }
    .ServiceType p {
        font-size: 18px;
    }
}

