@import url(../Fonts.css);

.white {
    color: white;
    font-family: Comfortaa-bold;
}

nav a {
    text-decoration: none;
    color: #606060;
    padding-right: 60px;
    font-family: Comfortaa-regular;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: relative;
    box-shadow: 0px 8px 9px -9px;
}

.Contact {
    background-color: #175994;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: Comfortaa-regular;
    cursor: pointer;
}

.topLinks {
    width: calc(100%/3);
}

.ContactModal {
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-radius: 5px;
    top: calc(100% + 30px);
    right: 30px;
    background-color: #175994;
    z-index: 2;
}

.ContactLink a {
    text-decoration: none;
    color: white;
}

.ContactModal .ContactLink {
    margin: 10px 20px;
    padding: 8px;
    width: 260px;
    height: 48px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px -4px black;
}

.ContactLink svg {
    padding-right: 8px;
}

.ContactLink img {
    width: 42px;
    border-radius: 21px;
    margin-right: 10px;
}

@media (max-width: 610px) {
    header {
        padding: 10px 20px;
    }
}

@media (max-width: 425px) {
    header {
        padding: 8px 10px;
    }

    header nav a {
        padding-right: 30px;
        font-size: 16px;
    }

    header .Contact {
        padding: 4px 12px;
        font-size: 15px;
    }
}

@media (max-width: 335px) {
    header nav a {
        padding-right: 20px;
        font-size: 15px;
    }
    header .Contact {
        padding: 4px 11px;
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    header .ContactModal {
        padding: 15px;
    }
    header .ContactModal .ContactLink {
        width: 180px;
        margin: 10px;
        padding: 6px;
    }
    header .ContactLink img {
        width: 32px;
    }
    header .ContactLink a {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    header .ContactModal {
        padding: 12px;
    }
    header .ContactModal .ContactLink {
        margin: 8px;
        padding: 0px;
        width: 150px;
        font-size: 15px;
    }
    header .ContactModal svg {
        scale: 0.75;
    }

    header .ContactLinkEmail a {
        font-size: 9px;
    }
}

@media (max-width: 900px) {
    header .ContactModal {
        padding: 10px;
    }
    header .ContactModal .ContactLink {
        margin: 5px;
        padding: 0px;
        width: 150px;
        font-size: 15px;
        height: 40px;
        border-radius: 5px;
    }
    header .ContactModal svg {
        scale: 0.65;
    }

    header .ContactLinkEmail a {
        font-size: 9px;
    }
}

.ContactModal {
    animation-name: apparition;
    animation-duration: 0.2s;
} 

@keyframes apparition {
    from { scale: 0; }
    to { scale: 1; }
}


